nav,
.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  display: flex;
  height: 100%;
}

nav {
  position: relative;

  width: 20%;
  min-width: 165px;
  background: linear-gradient(to bottom, #9269fb, #d573b1);

  padding-top: 4rem;
  padding-bottom: 4rem;

  .background-filler {
    position: absolute;
    right: 0;
    background-color: var(--primary-background-color);
    margin-left: 1rem;
    width: calc(100% - 1rem);

    height: calc(2.2rem * 2 + 2rem);

    transition: 1s ease-out;

    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;

    text-align: -webkit-right;
  }

  .wrap {
    // background-color: rgba(36, 39, 48, 0.8);
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1rem;

    z-index: 0;

    a {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: 5px;

      color: #fff;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0.4px;

      transition: 0.5s cubic-bezier(0, 0.6, 1, 0.39);
    }

    svg {
      height: 20px;
      fill: rgb(61 64 72);
      transition: 0.5s cubic-bezier(0, 0.6, 1, 0.39);
    }
  }

  .nav-button {
    display: flex;
    padding: 3.2rem 0;
    padding-left: calc(15%);

    background-color: rgba(36, 39, 48, 0);
    height: 2rem;

    svg {
      height: 2.4rem;
      width: 2.4rem;
    }
  }

  .active {
    a {
      color: black;
      transition: 1s cubic-bezier(0, 0, 1, 0.39);

      svg {
        fill: rgba(36, 39, 48, 1);
        transition: 1s cubic-bezier(0, 0, 1, 0.39);
      }
    }
  }

  .decor-element {
    height: 1px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 2rem 0;
    margin-left: 25%;
  }
}

.box {
  width: 5rem;
  height: 50px;
  position: relative;
  margin-top: -49.8px;
  -webkit-box-reflect: below 6.34rem;

  .curve {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: var(--primary-background-color);

    clip-path: polygon(
      100% 0%,
      100% 110%,
      0% 110%,
      10% 99.499%,
      18% 98.367%,
      23% 97.319%,
      27% 96.286%,
      30% 95.394%,
      33% 94.398%,
      36% 93.295%,
      38% 92.499%,
      41% 91.209%,
      43% 90.283%,
      45% 89.303%,
      47% 88.267%,
      49% 87.172%,
      51% 86.017%,
      52% 85.417%,
      54% 84.167%,
      56% 82.849%,
      57% 82.164%,
      58% 81.462%,
      60% 80%,
      61% 79.24%,
      62% 78.46%,
      64% 76.837%,
      65% 75.993%,
      66% 75.127%,
      67% 74.236%,
      68% 73.321%,
      69% 72.381%,
      70% 71.414%,
      71% 70.42%,
      72% 69.397%,
      72.9% 68.451%,
      73.8% 67.48%,
      74.7% 66.482%,
      75.6% 65.457%,
      76.5% 64.403%,
      77.3% 63.441%,
      78.1% 62.453%,
      78.9% 61.439%,
      79.7% 60.398%,
      80.4% 59.463%,
      81.2% 58.366%,
      81.9% 57.379%,
      82.6% 56.367%,
      83.2% 55.478%,
      83.9% 54.413%,
      84.5% 53.477%,
      85.2% 52.354%,
      85.8% 51.365%,
      86.4% 50.349%,
      86.9% 49.481%,
      87.5% 48.412%,
      88% 47.497%,
      88.6% 46.369%,
      89.1% 45.4%,
      89.6% 44.405%,
      90.05% 43.486%,
      90.52% 42.499%,
      90.99% 41.483%,
      91.44% 40.481%,
      91.87% 39.496%,
      92.3% 38.48%,
      92.71% 37.481%,
      93.11% 36.476%,
      93.49% 35.491%,
      93.87% 34.474%,
      94.23% 33.477%,
      94.58% 32.475%,
      94.91% 31.497%,
      95.24% 30.485%,
      95.55% 29.499%,
      95.86% 28.476%,
      96.15% 27.48%,
      96.43% 26.481%,
      96.7% 25.478%,
      96.96% 24.47%,
      97.2% 23.498%,
      97.44% 22.482%,
      97.67% 21.461%,
      97.88% 20.482%,
      98.09% 19.451%,
      98.28% 18.467%,
      98.46% 17.482%,
      98.63% 16.496%,
      98.8% 15.445%,
      98.95% 14.453%,
      99.09% 13.46%,
      99.22% 12.466%,
      99.34% 11.47%,
      99.45% 10.474%,
      99.55% 9.476%,
      99.64% 8.478%,
      99.72% 7.478%,
      99.79% 6.477%,
      99.85% 5.475%,
      99.9% 4.471%,
      99.94% 3.464%,
      99.97% 2.449%,
      99.99% 1.414%,
      100% 0%
    );
  }
}
